{% extends prototypeVersion + '/layouts/layout-search.html' %}

{% set pageName = "Browse all categories" %}


{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/" + prototypeVersion + "/index",
      text: "Home"
    },
    {
      href: "/" + prototypeVersion + "/search",
      text: "Search medical technologies"
    }
  ],
  href: "#",
  text: "Browse all categories"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl">Browse all categories</h1>
    <p class="nhsuk-body-l">Explore medical technologies, A-Z by category.</p>
  </div>
</div>

{# Category stats #}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-full">
    <p class="nhsuk-body">
      <strong class="nhsuk-tag nhsuk-tag--white">18 categories</strong>
      <strong class="nhsuk-tag nhsuk-tag--white nhsuk-u-margin-left-2">1,247 products</strong>
      <strong class="nhsuk-tag nhsuk-tag--white nhsuk-u-margin-left-2">312 NHS trust evaluations</strong>
    </p>
  </div>
</div>

{# A-Z jump links #}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
  <div class="nhsuk-grid-column-two-thirds">
    <nav class="app-az-nav" aria-label="A to Z navigation">
      <ol class="app-az-nav__list">
          <li class="app-az-nav__item"><a href="#A" class="app-az-nav__link">A</a></li>
<li class="app-az-nav__item"><a href="#B" class="app-az-nav__link">B</a></li>
<li class="app-az-nav__item"><a href="#C" class="app-az-nav__link">C</a></li>
<li class="app-az-nav__item"><a href="#D" class="app-az-nav__link">D</a></li>
<li class="app-az-nav__item"><a href="#E" class="app-az-nav__link">E</a></li>
<li class="app-az-nav__item"><a href="#F" class="app-az-nav__link">F</a></li>
<li class="app-az-nav__item"><a href="#G" class="app-az-nav__link">G</a></li>
<li class="app-az-nav__item"><a href="#H" class="app-az-nav__link">H</a></li>
<li class="app-az-nav__item"><a href="#I" class="app-az-nav__link">I</a></li>
<li class="app-az-nav__item"><a href="#J" class="app-az-nav__link">J</a></li>
<li class="app-az-nav__item"><a href="#K" class="app-az-nav__link">K</a></li>
<li class="app-az-nav__item"><a href="#L" class="app-az-nav__link">L</a></li>
<li class="app-az-nav__item"><a href="#M" class="app-az-nav__link">M</a></li>
<li class="app-az-nav__item"><a href="#N" class="app-az-nav__link">N</a></li>
<li class="app-az-nav__item"><a href="#O" class="app-az-nav__link">O</a></li>
<li class="app-az-nav__item"><a href="#P" class="app-az-nav__link">P</a></li>
<li class="app-az-nav__item"><a href="#Q" class="app-az-nav__link">Q</a></li>
<li class="app-az-nav__item"><a href="#R" class="app-az-nav__link">R</a></li>
<li class="app-az-nav__item"><a href="#S" class="app-az-nav__link">S</a></li>
<li class="app-az-nav__item"><a href="#T" class="app-az-nav__link">T</a></li>
<li class="app-az-nav__item"><a href="#U" class="app-az-nav__link">U</a></li>
<li class="app-az-nav__item"><a href="#V" class="app-az-nav__link">V</a></li>
<li class="app-az-nav__item"><a href="#W" class="app-az-nav__link">W</a></li>
<li class="app-az-nav__item"><a href="#X" class="app-az-nav__link">X</a></li>
<li class="app-az-nav__item"><a href="#Y" class="app-az-nav__link">Y</a></li>
<li class="app-az-nav__item"><a href="#Z" class="app-az-nav__link">Z</a></li>
      </ol>
    </nav>
  </div>
</div>

{# Categories list #}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {# C #}
    <h2 class="nhsuk-heading-m app-az-header" id="C">C</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/cardiac" class="app-category-link">
          <span class="app-category-name">Cardiac devices</span>
          <span class="app-category-meta">94 products · 28 trust evaluations · 12 contacts</span>
        </a>
      </li>
    </ul>

    {# D #}
    <h2 class="nhsuk-heading-m app-az-header" id="D">D</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/diabetes" class="app-category-link">
          <span class="app-category-name">Diabetes technology</span>
          <span class="app-category-meta">94 products · 112 trust evaluations · 34 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/diagnostic-imaging" class="app-category-link">
          <span class="app-category-name">Diagnostic imaging</span>
          <span class="app-category-meta">156 products · 34 trust evaluations · 15 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/digital-health" class="app-category-link">
          <span class="app-category-name">Digital health and remote monitoring</span>
          <span class="app-category-meta">67 products · 23 trust evaluations · 9 contacts</span>
        </a>
      </li>
    </ul>

    {# G #}
    <h2 class="nhsuk-heading-m app-az-header" id="G">G</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/gastroenterology" class="app-category-link">
          <span class="app-category-name">Gastroenterology devices</span>
          <span class="app-category-meta">43 products · 11 trust evaluations · 5 contacts</span>
        </a>
      </li>
    </ul>

    {# I #}
    <h2 class="nhsuk-heading-m app-az-header" id="I">I</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/infusion" class="app-category-link">
          <span class="app-category-name">Infusion devices</span>
          <span class="app-category-meta">78 products · 19 trust evaluations · 8 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/ivd" class="app-category-link">
          <span class="app-category-name">In vitro diagnostics (IVD)</span>
          <span class="app-category-meta">112 products · 15 trust evaluations · 6 contacts</span>
        </a>
      </li>
    </ul>

    {# M #}
    <h2 class="nhsuk-heading-m app-az-header" id="M">M</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/mobility" class="app-category-link">
          <span class="app-category-name">Mobility and rehabilitation</span>
          <span class="app-category-meta">89 products · 17 trust evaluations · 7 contacts</span>
        </a>
      </li>
    </ul>

    {# N #}
    <h2 class="nhsuk-heading-m app-az-header" id="N">N</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/neurology" class="app-category-link">
          <span class="app-category-name">Neurology and neurosurgery</span>
          <span class="app-category-meta">54 products · 12 trust evaluations · 4 contacts</span>
        </a>
      </li>
    </ul>

    {# O #}
    <h2 class="nhsuk-heading-m app-az-header" id="O">O</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/ophthalmology" class="app-category-link">
          <span class="app-category-name">Ophthalmology</span>
          <span class="app-category-meta">61 products · 14 trust evaluations · 6 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/orthopaedic" class="app-category-link">
          <span class="app-category-name">Orthopaedic implants</span>
          <span class="app-category-meta">247 products · 89 trust evaluations · 31 contacts</span>
        </a>
      </li>
    </ul>

    {# P #}
    <h2 class="nhsuk-heading-m app-az-header" id="P">P</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/patient-monitoring" class="app-category-link">
          <span class="app-category-name">Patient monitoring</span>
          <span class="app-category-meta">73 products · 21 trust evaluations · 9 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/pressure-care" class="app-category-link">
          <span class="app-category-name">Pressure care and prevention</span>
          <span class="app-category-meta">58 products · 16 trust evaluations · 7 contacts</span>
        </a>
      </li>
    </ul>

    {# R #}
    <h2 class="nhsuk-heading-m app-az-header" id="R">R</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/respiratory" class="app-category-link">
          <span class="app-category-name">Respiratory devices</span>
          <span class="app-category-meta">82 products · 24 trust evaluations · 11 contacts</span>
        </a>
      </li>
    </ul>

    {# S #}
    <h2 class="nhsuk-heading-m app-az-header" id="S">S</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/surgical-instruments" class="app-category-link">
          <span class="app-category-name">Surgical instruments</span>
          <span class="app-category-meta">312 products · 67 trust evaluations · 24 contacts</span>
        </a>
      </li>
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category/surgical-mesh" class="app-category-link">
          <span class="app-category-name">Surgical mesh and implants</span>
          <span class="app-category-meta">45 products · 18 trust evaluations · 8 contacts</span>
        </a>
      </li>
    </ul>

    {# W #}
    <h2 class="nhsuk-heading-m app-az-header" id="W">W</h2>
    <ul class="nhsuk-list app-category-list">
      <li class="app-category-item">
        <a href="/{{ prototypeVersion }}/category-wound-care" class="app-category-link">
          <span class="app-category-name">Wound care</span>
          <span class="app-category-meta">183 products · 56 trust evaluations · 23 contacts</span>
        </a>
      </li>
    </ul>

    {# Back to top #}
    <div class="nhsuk-u-margin-top-6">
      <a href="#" class="nhsuk-back-link__link">
        
        Back to top
      </a>
    </div>

  </div>

  {# Sidebar #}
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">Can't find a category?</h2>
        <p class="nhsuk-card__description">Use search to find products by name, manufacturer or GMDN code.</p>
        <p class="nhsuk-card__description">
          <a href="/{{ prototypeVersion }}/search">Search for products</a>
        </p>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">About categories</h2>
        <p class="nhsuk-card__description">Categories are based on GMDN (Global Medical Device Nomenclature) classifications used across the NHS.</p>
        <p class="nhsuk-card__description">
          <a href="#">Learn about GMDN classification</a>
        </p>
      </div>
    </div>

  </div>
</div>

{% endblock %}