{% extends prototypeVersion + '/layouts/layout-signed-out.html' %}

{% set pageName = "Sign in" %}
{% block pageTitle %}
Sign in - {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">


  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Sign in to use this service</h1>
  
  
  
 
  
  
    <form action="dashboard" method="post">
  
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
       Sign in with NHS login
      </button>



    <p><a href="sign-in">Sign in another way</a></p>
  
  
    </form>
  
  
  </div>
</div>

{% endblock %}