{% extends "layouts/base.html" %}

{% set pageName = "Sorry, there is a problem with the service" %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-7">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Sorry, there is a problem with the service</h1>
      {# TODO: Support link #}
      <p>Try again later. If the problem continues, please contact support.</p>
      <p class="nhsuk-body"><a href="/" class="nhsuk-link">Go to the homepage</a></p>
    </div>
  </div>
{% endblock %}
