@import 'nhsuk-frontend/dist/nhsuk/nhsuk';

// Add your custom CSS/Sass styles below.

@import 'components/multi-file-upload';
@import 'components/nhs-hero';
@import 'components/search-filter';
@import 'components/radios';
@import 'components/buttons';
@import 'components/password-toggle';
@import 'components/emails';
@import 'components/hero';
@import 'components/a-z';
@import 'components/category';
@import 'components/data-viz';
@import 'components/dashboard';
@import 'components/cards';


.nhsuk-width-container {
  max-width: 1100px;
}
img{
  height: auto;
  max-width: 100%;
  width: auto;
  
}