{% extends 'layout.html' %}

{% from "back-link/macro.njk" import backLink %}
{% from "sketchpad/_email-header.html" import emailHeader %}

{% set pageName = "Email 4: how you compare" %}

{% block beforeContent %}
  {{ backLink({
    href: "/sketchpad",
    text: "Back to sketchpad"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ emailHeader("Search and evaluate medical technologies") }}

      <div class="app-email__container">
        <div class="app-email__message">

          <h1 class="nhsuk-u-visually-hidden">{{ pageName }}</h1>

          <p>Dear Asha,</p>

          <p>Users upload an average 5 documents per month on Search and evaluate medical technologies. This month, you uploaded 15 documents, which puts you in the top 10%.</p>

          <p>Keep up the great work! Your contributions help the NHS buy the best med tech.</p>

          <p><a href="#">Share more experience</a> to continue helping the NHS choose the best medical technology.</p>

          {{ button({
            text: "Share experience",
            href: "#"
          }) }}

        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
    <div class="nhsuk-grid-column-two-thirds">
      <p><a href="/">Back to all prototypes</a></p>
    </div>
  </div>
{% endblock %}
