{% extends 'layout.html' %}

{% from "back-link/macro.njk" import backLink %}
{% from "sketchpad/_email-header.html" import emailHeader %}

{% set pageName = "Email 3: monthly report" %}

{% block beforeContent %}
  {{ backLink({
    href: "/sketchpad",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ emailHeader("Search and evaluate medical technologies") }}

      <div class="app-email__container">
        <div class="app-email__message">

          <h1 class="nhsuk-heading-s">Your monthly Search and evaluate medical technologies report</h1>

          <h2 class="nhsuk-heading-xs">Contributions this month</h2>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>You've accessed 31 product pages</li>
            <li>Your trust has uploaded 15 documents</li>
            <li>You've uploaded 3 documents</li>
            <li>48 people have viewed your contributions</li>
            <li>12 people have marked your contributions as useful</li>
          </ul>

          <p>You help people across the NHS make better procurement choices when you upload documents to the service. If you've reviewed a medical technology lately, <a href="#">share your experience</a>.</p>

          {{ button({
            text: "Share experience",
            href: "#"
          }) }}

          <h2 class="nhsuk-heading-xs">Across the service</h2>

          <p>NHS colleagues have uploaded 111 documents from across the service this month, including for:</p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>SmartPump 300 Infusion System</li>
            <li>Collagen Pro Matrix</li>
            <li>Medtronic MiniMed 780G</li>
          </ul>

          <h2 class="nhsuk-heading-xs">Top contributors</h2>

          <p>Barts Health NHS Trust has shared the most experience this month, uploading 29 documents.</p>

          <p>Dr Said Mohseyni has shared the most useful experience, with 10 contributions highlighted by peers.</p>

          <p>Thank you for being a part of Search and evaluate medical technologies. Together, we're making it easier to choose the best medical technology.</p>

          {{ button({
            text: "Go to the service",
            href: "#"
          }) }}

        </div>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
    <div class="nhsuk-grid-column-two-thirds">
      <p><a href="/sketchpad/email-4-how-you-compare">Next</a></p>
    </div>
  </div>
{% endblock %}
