{% extends 'sketchpad/layouts/layout.html' %}
{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% set pageName = "Add Barts Health NHS Trust to this device" %}
{% block beforeContent %}
  {{ backLink({ href: "/sketchpad/experience-device-page", text: "Back" }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

    <p>Your trust will be listed on SmartPump 300 Infusion System as having experience with it.</p>

    <p>Other NHS trusts will see your trust in that list. Nothing else is shared unless you choose
      to add it.</p>

    <p>You can change this later.</p>

    <form action="/sketchpad/experience-added" method="get" novalidate>
      {{ button({ text: "Confirm and add my trust" }) }}
    </form>

    <p><a href="/sketchpad/experience-device-page">Cancel</a></p>

  </div>
</div>
{% endblock %}
