<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-hero-histories.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhsuk-heading-l">Posts</h2>


        <div class="nhsuk-u-reading-width">
            <ol class="nhsuk-grid-row nhsuk-card-group">

                 <li class="nhsuk-grid-column-full nhsuk-card-group__item">


                    <div class="nhsuk-card nhsuk-card--secondary">
                        <div class="nhsuk-card__content nhsuk-card__content--secondary">
                            <h2 class="nhsuk-card__heading nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2"> <a
                                    class="nhsuk-card__link"
                                    href="v0">1. inital assumptions from discovery
                                    </a> </h2>
                            <p class="nhsuk-body-s"><time class="nhsuk-u-secondary-text-colour"
                                    datetime="">Nov 2025</time></p>
                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-full nhsuk-card-group__item">


                    <div class="nhsuk-card nhsuk-card--secondary">
                        <div class="nhsuk-card__content nhsuk-card__content--secondary">
                            <h2 class="nhsuk-card__heading nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2"> <a
                                    class="nhsuk-card__link"
                                    href="v1">2. Team workshop
                                    </a> </h2>
                            <p class="nhsuk-body-s"><time class="nhsuk-u-secondary-text-colour"
                                    datetime="">Dec 2025</time></p>
                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-full nhsuk-card-group__item">


                    <div class="nhsuk-card nhsuk-card--secondary">
                        <div class="nhsuk-card__content nhsuk-card__content--secondary">
                            <h2 class="nhsuk-card__heading nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2"> <a
                                    class="nhsuk-card__link"
                                    href="v2">3. Onboarding flow and evalution upload 
                                </a> </h2>
                            <p class="nhsuk-body-s"><time class="nhsuk-u-secondary-text-colour"
                                    datetime=""> Jan 2026</time></p>
                        </div>
                    </div>

                   

                </li>
                  <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                     <div class="nhsuk-card nhsuk-card--secondary">
                        <div class="nhsuk-card__content nhsuk-card__content--secondary">
                            <h2 class="nhsuk-card__heading nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2"> <a
                                    class="nhsuk-card__link"
                                    href="v3">4. Information seeking types
                                </a> </h2>
                            <p class="nhsuk-body-s"><time class="nhsuk-u-secondary-text-colour"
                                    datetime="">Feb 2026</time></p>
                        </div>
                    </div>

                </li>
                <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                    <div class="nhsuk-card nhsuk-card--secondary">
                        <div class="nhsuk-card__content nhsuk-card__content--secondary">
                            <h2 class="nhsuk-card__heading nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2"> <a
                                    class="nhsuk-card__link"
                                    href="v4">5. Wrapping up the alpha phase
                                </a> </h2>
                            <p class="nhsuk-body-s"><time class="nhsuk-u-secondary-text-colour"
                                    datetime="">Mar 2026</time></p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>













    </div>

</div>

{% endblock %}