@use "nhsuk-frontend/dist/nhsuk" as *;
@forward "nhsuk-frontend/dist/nhsuk";

// Import your custom CSS/Sass styles below.
@use "components/hero" as *;
@use "components/search-filter" as *;
@use "components/login-button" as *;

// TODO: Do we need this?
.nhsuk-width-container {
  max-width: 1100px;
}

.nhsuk-main-wrapper {
  margin-top: 0;
  padding-top: 0;
}
