{% from "includes/contact-peer-discussion.njk" import contactPeerDiscussion %}
{% from "includes/mark-useful-button.njk" import mark_useful_button %}  

{% macro evidenceCardOdep(evidence) %}
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading nhsuk-heading-m">
        {{ evidence.organisationName }}
      </h3>

      {{ mark_useful_button(evidence.totalUsefulCount, evidence.productId, evidence.evidenceId, evidence.markedUseful) }}

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Evidence type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.typeOfEvidenceDesc }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Assessment date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.assessmentDate }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Rating
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.rating }}
          </dd>
        </div>
      </dl>

      {% for document in evidence.documents %}
      <p class="nhsuk-body nhsuk-u-margin-top-3">
        {% set documentUrl = document.urlDirectory %}

        {% if "http" not in documentUrl %}
          {% set documentUrl = "/pdf/" + documentUrl %}
        {% endif %}
        
        <a href="{{ documentUrl }}">View {{ document.typeOfDocDesc }}</a>
      </p>
      {% endfor %}

      {{ contactPeerDiscussion(evidence.contacts) }}
    </div>
  </div>
{% endmacro %}
