{% from "includes/contact-peer-discussion.njk" import contactPeerDiscussion %}
{% from "includes/mark-useful-button.njk" import mark_useful_button %}

{% macro evidenceCardGeneric(evidence) %}
    <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            {% set statusLabel = "procured" if evidence.procured else 'Not procured' %}
            {% set statusClass = 'nhsuk-tag--green' if evidence.procured else 'nhsuk-tag--yellow' %}

            <div class="nhsuk-u-margin-bottom-3">
                <strong class="nhsuk-tag {{ statusClass }}">{{ statusLabel }}</strong>
            </div>

            <h3 class="nhsuk-card__heading nhsuk-heading-m">
                {{ evidence.organisationName }}
            </h3>

            {{ mark_useful_button(evidence.totalUsefulCount, evidence.productId, evidence.evidenceId, evidence.markedUseful) }}

            {{ contactPeerDiscussion(evidence.contacts) }}
        </div>
    </div>
{% endmacro %}
