{% from "includes/contact-peer-discussion.njk" import contactPeerDiscussion %}
{% from "includes/mark-useful-button.njk" import mark_useful_button %}

{% macro evidenceCardNjr(evidence) %}
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading nhsuk-heading-m">
        {{ evidence.organisationName }}
      </h3>

      {{ mark_useful_button(evidence.totalUsefulCount, evidence.productId, evidence.evidenceId, evidence.markedUseful) }}

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Evidence type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.typeOfEvidenceDesc }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Assessment date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.assessmentDate }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renewal date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.expiryDate }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Organisation type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.organisationTypeName }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Organisation category
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ evidence.organisationCategoryName }}
          </dd>
        </div>
      </dl>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-4">Report summary</h4>
      {% for document in evidence.documents %}
      <p class="nhsuk-body nhsuk-u-margin-top-3">
        {% set documentUrl = document.urlDirectory %}

        {% if "http" not in documentUrl %}
          {% set documentUrl = "/pdf/" + documentUrl %}
        {% endif %}
        
        <a href="{{ documentUrl }}">View {{ document.typeOfDocDesc }}</a>
      </p>
      {% endfor %}

        {{ contactPeerDiscussion(document.contacts) }}
    </div>
  </div>
{% endmacro %}
