

{% extends prototypeVersion + '/layouts/layout-signed-in.html' %}

{% set pageName = "Dashboard - Welcome back" %}
{% set serviceHeader = "Medical product evaluations" %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


{% block beforeContent %}
{% endblock %}

{% block content %}




<!-- NHS 10 Year Plan Context -->
<div class="nhsuk-grid-row nhsuk-u-margin-top-7">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-hint">Kelvin Simpson</span>
    
  <h1 class='nhsuk-heading-l'>Welcome back</h1>
      
  <p class="nhsuk-body nhsuk-body-l"> How will you shape procurement in your trust today? </p>


  </div>
</div>

<!-- NHS 10 Year Plan Context -->
<div class="nhsuk-grid-row nhsuk-u-margin-top-7">
  <div class="nhsuk-grid-column-full">
    

    <div class="nhsuk-grid-row">
  
  <div class="nhsuk-grid-column-one-half">

<div class="nhsuk-card nhsuk-card--clickable">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading"><a href="search">Search and compare medical technologies</a></h3>
    <p>Look up a specific product or browse categories to find evidence and peer contact information.</p>
  </div>
</div>

  </div>

  <div class="nhsuk-grid-column-one-half">
    




<div class="nhsuk-card nhsuk-card--clickable">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading"><a href="evaluation-choice">Share your experience with medical technologies</a></h3>
  <p>Upload your own product trials, case studies, evaluation criteria or business cases.</p>
  </div>
</div>

  </div>

</div>

    </div>
    </div>











{% endblock %}

{% block pageScripts %}
<script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#product-picker')
  })
</script>


{% endblock %}