{% extends 'layout-signed-out.html' %}

{% set pageName = "Terms and conditions" %}


{% block beforeContent %}
{% from "breadcrumb/macro.njk" import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "#",
  text: "Terms and conditions"
}) }}
{% endblock %}

{% block content %}




<!-- NHS 10 Year Plan Context -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
  <h1 class='nhsuk-heading-l'>Terms and conditions</h1>


  


  </div>
</div>











{% endblock %}