<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% set pageName = "Compass - " %}
{% set serviceHeader = "Compass" %}

{% block beforeContent %}
{% endblock %}

{% block content %}




<!-- NHS 10 Year Plan Context -->
<div class="nhsuk-grid-row nhsuk-u-margin-top-7">
  <div class="nhsuk-grid-column-full">
    
  <h3 class='nhsuk-heading-m'>Heading</h3>
      
      </ul>


  </div>
</div>

<!-- Key Features Cards -->
<div class="nhsuk-grid-row nhsuk-u-margin-top-7">
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-l">Main content</h2>
  </div>
</div>





<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    
  </div>
</div>




{% endblock %}