{% extends "template.njk" %} {% block head %}
<link rel="stylesheet" href="/css/main.css" />
{% endblock %} {% block pageTitle -%} {%- if pageName %}{{ pageName }} – {%
endif -%} {{ serviceName }} – NHS {%- endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Default page template</h1>
  </div>
</div>
{% endblock %} {% block footer %} {{ footer({ meta: { items: [ { href: "#",
text: "Help and support" }, { href: "#", text: "Cookies" }, { href: "#", text:
"Privacy" }, { href: "#", text: "Terms and conditions" }, { href: "#", text:
"Accessibility statement" } ] } }) }} {% endblock %} {% block bodyEnd %}
<script type="module" src="/javascripts/nhsuk-frontend.min.js"></script>
{% endblock %}
