<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{ header({
  logo: {
    href: "/",
    ariaLabel: "Search medical product evaluations"
  },
  service: {
    text: "",
    href: "/"
  },

  account: {
    items: [

      {
        text: "Log in",
        href: "sign-in-nhs"
      }
    ]
  },
  navigation: {
    items: [
      {
        text: "Search",
        href: "search"
      },
      {
        text: "About this service",
        href: "#"
        
      },
      {
        text: "Latest news",
        href: "#"
      },
      {
        text: "Data standards",
        href: "#"
      },
      {
        text: "Case studies",
        href: "#"
      }
    ]
  }
}) }}

<div class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Value based procurement for medical technologies</h1>

          <p class="nhsuk-body-l">Search, evaluate and choose a supplier based on good clinical outcomes.</p>

          <p class="nhsuk-body-l">Used by NHS trusts everywhere.</p>

          <div class="nhsuk-button-group nhsuk-u-margin-bottom-0">
            

<a class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button" href="/current/sign-up-trusts" draggable="false" role="button" data-nhsuk-button-init="">
 Sign up
</a>
  <p class="nhsuk-body nhsuk-u-margin-bottom-0">or <a href="/current/sign-in-nhs" class="nhsuk-link nhsuk-link--reverse nhsuk-u-font-weight-bold">log in</a></p>
          </div>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet nhsuk-u-padding-top-6">
        <img class="app-homepage-illustration" src="/images/compass-hero.png" alt="" role="presentation" width="100%">
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/",
          text: "Help and support"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/terms",
          text: "Terms and conditions"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        },

        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Reset data"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
    initAll()
  </script>
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
