<!--
  LAYOUT: Full-width hero with background image
  Extends prototype-kit-template.njk to work with NHS Prototype Kit
-->

{% extends "prototype-kit-template.njk" %}

{% block head %}
<link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block header %}
{{ header({
  logo: {
    href: "/",
    ariaLabel: "Compass"
  },
  service: {
    text: "",
    href: "/"
  },
  account: {
    items: [
      {
        text: "Log in",
        href: "sign-in-nhs"
      }
    ]
  },
  navigation: {
    items: [
      {
        text: "About this service",
        href: "#"
      },
      {
        text: "Latest news",
        href: "#"
      },
      {
        text: "Data standards",
        href: "#"
      },
      {
        text: "Case studies",
        href: "#"
      }
    ]
  }
}) }}
{% endblock %}

{% block main %}
<!-- HERO: Full-width, sits outside any container -->
<div class="compass-hero">
  <div class="compass-hero__image" aria-hidden="true"></div>
  <div class="compass-hero__overlay"></div>
  <div class="nhsuk-width-container compass-hero__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        
        {% block heroHeading %}
        <h1 class="nhsuk-heading-xl compass-hero__heading">Value-based procurement for medical technologies</h1>
        {% endblock %}
        
        {% block heroLede %}
        <p class="nhsuk-body-l compass-hero__lede">Search, evaluate and choose a supplier based on good clinical outcomes. Used by NHS trusts everywhere.</p>
        {% endblock %}
        
        {% block heroActions %}
        <div class="compass-hero__actions">
           <div class="nhsuk-button-group nhsuk-u-margin-bottom-0">
            

<a class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button" href="/current/sign-up-trusts-1" draggable="false" role="button" data-nhsuk-button-init="">
 Sign up
</a>
  <p class="nhsuk-body nhsuk-u-margin-bottom-0">or <a href="/current/sign-in-nhs" class="nhsuk-link nhsuk-link--reverse nhsuk-u-font-weight-bold">log in</a></p>
          </div>
        </div>
        {% endblock %}
        
      </div>
    </div>
  </div>
</div>

<!-- MAIN CONTENT: Wrapped in container -->
<div class="nhsuk-width-container">
  {% block mainContent %}
  {% endblock %}
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

{% block bodyEnd %}
<script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
<script type="module">
import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
initAll()
</script>
{% block scripts %}
  {% include "includes/scripts.html" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
{% endblock %}