<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example - NHS.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/stylesheets/nhsuk-frontend-<VERSION-NUMBER>.min.css">
  </head>
  <body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' nhsuk-frontend-supported' : '');</script>

    <!-- component HTML -->

    <script type="module" src="/javascripts/nhsuk-frontend-<VERSION-NUMBER>.min.js"></script>
    <script type="module">
      import { initAll } from '/javascripts/nhsuk-frontend-<VERSION-NUMBER>.min.js'
      initAll()
    </script>
  </body>
</html>