<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-hero-index.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <span class="nhsuk-hint">All prototypes for</span>
    <h1 class="nhsuk-heading-l">
      
      
     Search for medical evaluations - Alpha
    </h1>


     <h2 class="nhsuk-heading-m">Procurement team journey - current (v4)</h2>


    <ul class="nhsuk-list">
      <li><a href="current/sign-up-trusts-1">Sign up</a></li>
      <li><a href="current/sign-in-nhs">Sign in</a></li>
      <li><a href="current/sign-in">Sign in non NHS</a></li>
      <li><a href="current/homepage">Homepage</a></li>
      <li><a href="current/dashboard">Trust dashboard</a></li>
      <li><a href="current/quick-share-upload">Share single evaluation</a></li>
      <li><a href="current/quick-share-upload-multiple">Share multiple evaluations</a></li>
      <li><a href="current/search">Search for a product or supplier</a></li>
      <li><a href="current/categories">Product categories a-z</a></li>
        <li><a href="current/search-results">Search results keyword</a></li>
      <li><a href="current/category-wound-care">Search results category</a></li>
      <li><a href="current/product-page">Product page 1</a></li>
      <li><a href="current/product-detail">Product page 2</a></li>
      <li><a href="current/search-results-viz">Search results visualisation <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-5">experimental</span></a></li>
            <li><a href="current/search-results-dashboard">Data Dashboard <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-5">experimental</span></a></li>

      <!---
      <li><a href="current/evaluate-suppliers">Evaluate suppliers</a></li>
      <li><a href="current/award-contract">Award contract to supplier</a></li>
      <li><a href="current/emails/notify">Email notifications</a></li>-->
    </ul>
    


    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    <h3 class="nhsuk-heading-s">Email notifications</h3>

    <ul class="nhsuk-list">
      <li><a href="current/create-account/email-verification">Procurement - verify email</a></li>
       <li><a href="current/create-account/email-welcome">Procurement - new account</a></li>
    </ul>

    <h2 class="nhsuk-heading-m">Previous versions</h2>

    <p><a href="./v1/homepage">Version 1</a></p>
    <p><a href="./v2/homepage">Version 2</a></p>
    <p><a href="./v3/homepage">Version 3</a></p>




      

  



    
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-m">Resources</h3>
    <ul class="nhsuk-list">
      <li><a href="#">Ideation board (alpha starting point)</a></li>
      <li><a href="https://app.boords.com/s/mjw4v6/frame">User journey - story board</a></li>
      <li><a href="#">Alpha roadmap</a></li>
      <li><a href="design-histories/design-histories">Design histories</a></li>
      <li><a href="https://app.mural.co/t/gds5143/m/gds5143/1695116804329/f3d10edb4da71eac6b4c253abceab9264e38d87e?sender=u3cb128dcb686f0a84d584339">Alpha feedback board</a></li>
      <li><a href="https://www.figma.com/board/19dSAlQYjIjBbuUQhtFbH4/DHSC---UX-Flows?node-id=0-1&t=klqgxPv7a8rOV3P6-1">Figma - User flows </a></li>
      <li><a href="https://app.mural.co/t/compassalpha3100/m/compassalpha3100/1762347536715/a2fcd761427f62dc1a01ab26b927e154252195b4">Service user journeys - to be</a></li>
      <li><a href="https://app.mural.co/t/compassalpha3100/m/compassalpha3100/1762947455097/20c3452b9e50dc2c481a19d74a20e2d8fda237b0">Round 1 user reseach findings</a></li>
    <li><a href="">Round 2 user research findings</a></li>
    <li><a href="">UR analysis all rounds</a></li>
    <li><a href="">MVP feature set</a></li>
    </ul>
  </div>
</div>

{% endblock %}

