{% macro evidenceCardClinicalTrial(document) %}
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">

      {% set procurementStatusLabels = {
        '0': 'Not procured',
        '1': 'Procured'
      } %}
      {% set procurementStatusClasses = {
        '0': 'nhsuk-tag--yellow',
        '1': 'nhsuk-tag--green'
      } %}

      {% set statusLabel = procurementStatusLabels[document.procured] %}
      {% set statusClass = procurementStatusClasses[document.procured] %}

      <div class="nhsuk-u-margin-bottom-3">
        <strong class="nhsuk-tag {{ statusClass }}">{{ statusLabel }}</strong>
      </div>

      <h3 class="nhsuk-card__heading nhsuk-heading-m">
        {{ document.organisation_name }}
      </h3>

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Document type
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ document.type_of_doc_desc }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Document period
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ document.assessment_date }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Ward/Department
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ document.ward_department }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Scale
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ document.scale }} {% if document.scale > 0 %} patients {% endif %}
          </dd>
        </div>

      </dl>

      <p class="nhsuk-body nhsuk-u-margin-top-3">
        {% set documentUrl = document.url_directory %}

        {% if "http" not in documentUrl %}
          {% set documentUrl = "/pdf/" + documentUrl %}
        {% endif %}
        
        <a href="{{ documentUrl }}">View {{ document.type_of_doc_desc }}</a>
      </p>

      {# TODO: Contact information integrated at bottom #}
      {# Still hardcoded for now as no sample data #}
      <div class="nhsuk-u-margin-top-6 nhsuk-u-padding-top-4" style="border-top: 1px solid #d8dde0;">
        <h4 class="nhsuk-heading-s">Contact for peer discussion</h4>

        <p class="nhsuk-body">
          <strong>Dr Tess Sawyer</strong><br>
          Consultant, Nephrology
        </p>

        <p class="nhsuk-body">
          <a href="mailto:tess.sawyer@nhs.net">tess.sawyer@nhs.net</a><br>
          0112 244 2795
        </p>

        <p class="nhsuk-body nhsuk-u-secondary-text-color">
          Tess is happy to discuss implementation, staff training and clinical outcomes.
        </p>
      </div>
    </div>
  </div>
{% endmacro %}
