{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/",
          text: "Help and support"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/terms",
          text: "Terms and conditions"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        },

        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Reset data"
        }
      ]
    }
  }) }}
{% endblock %}